/*
Colours

Global colour variables

Style guide: settings.colours
*/

$colour-white: #fbfbfb;
$colour-grey: #919191;
$colour-lightgrey: #e5e5e5;
$colour-blue: #2bcadf;
$colour-black: #000;

$colour-primary: $colour-black;
$colour-secondary: $colour-blue;

$background: $colour-white;